<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

<h2>Login</h2>
{% if erro %}<p style="color:red;">{{ erro }}</p>{% endif %}
<body class="text-center">
    
    
    <main class="form-signin">
      <form name="formLogin" id="formLogin" class="formLogin">    
        {% csrf_token %}
        <div class="form-floating">
          <input type="email" class="form-control" id="usuarioEmail" placeholder="name@example.com">
          <label for="usuarioEmail">Email</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="usuarioSenha" placeholder="Password">
          <label for="usuarioSenha">Senha</label>
        </div>
        <div class="checkbox mb-3">
        </div>
        <button class="bota w-100 btn btn-lg btn-primary" onclick="fazerLogin();" >Entrar</button>
      </form>
    
      <p class="mt-5 mb-3 text-muted">Caso seja novo por aqui tente se <a href="{% url 'registrar' %}">Cadastrar</a></p>
      <p class="mt-5 mb-3 text-muted">&copy;2025</p>
    
    </main> 
<a href="{% url 'registrar' %}">Criar conta</a>
