@font-face {
    font-family: chalet;
    src: url(../fontes/ChaletComprime\ CologneSixty.ttf);
}
.menu-container{
    background:linear-gradient(to right,#4069F8,#002462) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-family: chalet;
}

.menu-container ul.menu{
    list-style: none;    
    width: 100%;    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;

}
.menu-container ul.menu li{    
    max-height:90px ;
    padding:5px 20px;
}
.menu-container ul.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 26pt;
}


.menu-container ul.menu li:first-child,.menu-container ul.menu li:last-child{
    flex-grow: 2;    
}

.menu-container ul.menu > li:last-child{
    text-align: right;
    padding-right: 20px;
}
.menu-container ul.menu li img{ 
    width: 65px;
}

.menu-container .submenu{
    background:#264bce;
    max-height: 0; /* Começa com a altura mínima */
    overflow: hidden; /* Garante que o conteúdo não transborde quando não visível */
    display: none;
    list-style: none;   
    margin: 0;
    padding: 0;
    position: absolute;
    height: auto;
    transition: opacity 0.4s ease, visibility 0s 0.4s; /* Opacidade com transição e visibility com delay */
    
}

.menu-container .submenu li{
    width: 90px;
}
.menu-container .submenu.ativo{    
    display: flex;
    z-index : 1;
    flex-direction: column; 
    max-height: 195px; /* A altura máxima que o submenu pode atingir */
    box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.274);
    min-width: 120px;
}



.seta{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid white; /* Cor da seta */
    border-bottom: 2px solid white; /* Cor da seta */       
    transform: rotate(225deg); /* A seta começa apontando para a direita */
    transition: transform 0.3s ease-in-out; /* Animação suave para a rotação */
    margin-left: 14px; /* Espaço entre o texto e a seta */
    margin-bottom: 4px;
}

.seta.fechado{
    transform: rotate(225deg); /* A seta começa apontando para a direita */
}
.seta.aberto{
    transform: rotate(45deg); /* A seta começa apontando para a direita */
}
body{
    background: linear-gradient(to right, #FAFF9F, #E1BA63);
    margin: 0%;
}

/* a{
    display: flex;
    justify-content: center;
} */
h1{
    color: #002462;
    text-align: center;
    font-family: chalet;
    letter-spacing: 0px;
    font-size: 35px;
}
.favP p{
    font-family: chalet;
}
#menu-mobile{
    background:linear-gradient(to right, #4069F8,#002462) ;
}
#icone {
    background-color: #3256a7;
}
#closeMenuBtn{
    background-color: rgb(255, 22, 22);
}
#navbarCollapse{
    background: linear-gradient(to right, #4068f896,#002462b7);
}
.fullscreen-menu.collapse.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 37, 41, 0.95); /* quase preto com transparência */
    z-index: 1050; /* maior que navbar padrão */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fullscreen-menu .navbar-nav {
    flex-direction: column;
    align-items: center;
}

.fullscreen-menu .nav-link {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #fff !important;
}

.fullscreen-menu .dropdown-menu {
    position: static;
    float: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.fullscreen-menu .dropdown-item {
    color: #fff;
    text-align: center;
}

.fullscreen-menu .navbar-brand,
.fullscreen-menu .navbar-toggler {
    display: none;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  .bota{
    background:linear-gradient(to right,#4069F8,#002462) ;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .titulos_segundaspaginas {
    font-family: chalet;
    text-align: center;
    color: #002462;
    letter-spacing: 0px;
    font-size: 39px;
    background-color: #ffae00;
    font-weight: bold;
}
.pratos-destaques {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #002462;
    font-family: chalet1;
    letter-spacing: 0px;
    font-size: 35px;
    overflow: hidden;
}
.pratos-destaques div {
    display: flex;
    align-items: center;
    
}
.pratos-destaques div p{
    margin:15px;
}
.pratos-destaques .populares{
    width: 500px;
    height: 350px;
    border-radius: 33px;
    margin: 15px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: 0.5s;
    margin-top: 90px;
}

.pratos-destaques .populares:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.fav{
    text-align: center;
    color: #002462;
    font-family: chalet;
    letter-spacing: 0px;
    font-size: 35px;
}
.butao{
    justify-self: center;
}
.add{
    border-radius: 10px;
    width: 100%;
    /* background-color: rgb(46, 230, 46); */
    height: 35px;
}
.popular{
    border-radius: 6px;
    display: flex;
    width: auto;
}
.descricao{
    display: block;
    width: 20%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    height: 90px;
    line-height: 40px; 
}
.adicionar-receita{
    font-family: chalet1;
    background-color: #ffae00;
    text-align: center;
    color: #002462;
}
.nomereceita{
    display: block;
    width: 20%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}
form{
    justify-items: center;
}
.image{
    display: block;
    width: 20%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}
.tempo_preparo{
    display: flex;
    margin: 15px;
    width: auto;
}
.escolha{
    font-size: 30px;
}
.cadastrar-receita{
    text-align: center;
}
.txt1{
    text-align: center;
    margin-right: 30px;
}
.txt2{
    text-align: center;
}.mestre{
    text-align: center;
}
.organizar_itens p{
    font-size: 30px;
}
.stats{
    display: flex;
    justify-content: center;
    gap: 20px; 

}
@media only screen and (max-width:576px){
    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
      }
      body img{
        margin: 0%;
    }
    .menu-container ul.menu{
        display: none;
    }
    .pratos-destaques div {
        display: grid;
        align-items: center;
    }
    .pratos-destaques {
        display: grid;
    }
    .pratos-destaques div p {
        margin: 15px;
        text-align: center;
    }
}
@media (min-width: 576px) {
    #menu-mobile{
        display: none;
    }    
}