{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block 'metatags' %} {% endblock %}
    <title>{% block 'title'%} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="icon" href="{% static 'img/logo-receita.avif' %}">
    {% block 'head' %} {% endblock %}
</head>
<body>
    <nav class="menu-container">
        <ul class="menu">
                <li><a href="{% url 'home' %}"><img src="{% static 'img/logo-site.png' %}" alt="Logo Principal do Site - Master Cook"></a></li>
                <li>
                    <a class="menu_populares" href="#" onclick="abrirSubMenu('menu_populares')">MAIS POPULARES <span class="seta"></span></a>
                    <ul class="submenu">
                        <li><a href="{% url 'populares' %}">TODOS</a></li>
                        <li><a href="{% url 'simples' %}">SIMPLES</a></li>
                    </ul>
                </li>
    
                <li>
                    <a class="menu_receitas" href="#" onclick="abrirSubMenu('menu_receitas')">RECEITAS<span class="seta"></span></a>
                    <ul class="submenu ">
                        <li><a href="{% url 'doces' %}">DOCES</a></li>
                        <li><a href="{% url 'salgado' %}">SALGADOS</a></li>
                    </ul>
                </li>

                {% if user.username %}
                    <li class="nav-item"> <a class="nav-link " href="{% url 'logout' %}">LOGOUT</a> </li>
                    <li class="nav-item"> <a class="nav-link " href="{% url 'home_area_restrita' %}">MEU PERFIL</a> </li>
                {% else %}
                    <li><a href="{% url 'registrar' %}">CADASTRO</a></li>
                    <li><a href="{% url 'login' %}">LOGIN</a></li>
                {% endif %}
                <li><a href="{% url 'sobre' %}">SOBRE</a></li>
        </ul>
    </nav>


    <!-- MENU MOBILE ABAIXO: -->

  

    <nav class="navbar fixed-bottom navbar-expand-sm" id="menu-mobile">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/logo-site.png'%}" alt="Logo Principal do Site - Master Cook" width="50px">
            </a> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" id="icone"> <span class="navbar-toggler-icon" ></span> </button> 
            <div class="collapse navbar-collapse fullscreen-menu" id="navbarCollapse">
                <button type="button" class="btn-close text-white position-absolute top-0 end-0 m-3 d-sm-none" id="closeMenuBtn" aria-label="Fechar menu"></button>

                <ul class="navbar-nav">
                    <li class="nav-item dropup">
                        <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown" aria-expanded="false">MAIS POPULARES</a> 
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'populares' %}">TODOS</a></li>
                            <li><a class="dropdown-item" href="{% url 'simples' %}">SIMPLES</a></li>
                        </ul>
                    </li>        
                    <li class="nav-item dropup">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">RECEITAS</a> 
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'salgado' %}">SALGADOS</a></li>
                            <li><a class="dropdown-item" href="{% url 'doces' %}">DOCES</a></li>
                        </ul>
                    </li>                                          
                    {% if user.username %}
                        <li class="nav-item"> <a class="nav-link " href="{% url 'logout' %}">LOGOUT</a> </li>
                        <li class="nav-item"> <a class="nav-link " href="{% url 'home_area_restrita' %}">MEU PERFIL</a> </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link " href="{% url 'registrar' %}">CADASTRO</a></li>
                        <li class="nav-item"><a class="nav-link " href="{% url 'login' %}">LOGIN</a></li>
                    {% endif %}
                    <li><a class="nav-link " href="{% url 'sobre' %}">SOBRE</a></li>

                </ul>
            </div>
        </div>
    </nav>
        {% block 'conteudo'%} {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="{% static 'js/submenu.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const navLinks = document.querySelectorAll('#navbarCollapse .nav-link, #navbarCollapse .dropdown-item');
            const closeBtn = document.getElementById('closeMenuBtn');
            const navbarCollapseElement = document.getElementById('navbarCollapse');
            const navbarCollapse = new bootstrap.Collapse(navbarCollapseElement, { toggle: false });
    
    
            closeBtn.addEventListener("click", () => {
                navbarCollapse.hide();
            });
    
    
        });
        
        document.addEventListener("DOMContentLoaded", async () => {
            if (!localStorage.getItem("receitas/*")) {
                try {
                    const responseReceitas = await fetch("{% static 'dados/receitas.json'%}");
                    const dadosIniciaisReceitas = await responseReceitas.json();
                    localStorage.setItem("receitas", JSON.stringify(dadosIniciaisReceitas));
                } catch (erro) {
                    console.error("Erro ao carregar receitas:", erro);
                }
            }
        });
    
      
    </script> 
    
</body>
</html>