{% extends "base.html" %}
{% load static %}
{% block 'title'%} Minhas Receitas {% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
{% block 'conteudo'%} 
<div class="album py-5 ">
  <div class="container " id="minhas_receitas">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        



  {% for receita in minhas_receitas %}

  <div class="card shadow-sm {% if receita.ativa %}border-success{% else %}border-danger{% endif %}  mb-3" id=minha_receita-${receita.id}>
    <img class="card-img-top" src="{{receita.imagem.url}}"  alt="{{ receita.nome_prato}}" title="{{ receita.nome_prato}}-{{ receita.mestre}}">
    <h2 class="fw-normal text-center">{{ receita.nome_prato}}</h2>

    <div class="card-body ">
        <span class="badge text-bg-primary">Popular:  {% if receita.popular %}SIM{% else %}NÃO{% endif %} </span>
        <span class="badge text-bg-info">Publicado: {% if receita.ativa %}SIM{% else %}NÃO{% endif %}</span>
        <p class="card-text">Mestre {{receita.mestre}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">               
              {% if receita.ativa %}
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="alterarPublicacao({{ receita.id }}, false);">Despublicar Receita</button>
              {% else %}
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="alterarPublicacao({{receita.id}}, true);">Publicar Receita</button>
              {% endif %}                
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="gerenciarReceita('visualizar',{{receita.id}})">Visualizar</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="gerenciarReceita('editar',{{receita.id}})">Editar</button>
            </div>
        </div>
    </div>
  </div>
    {%endfor%}
  </div>
      
</div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="receitaModal" tabindex="-1" aria-labelledby="receitaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="receitaModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <li>asdasd</li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Publicar</button>
          <button type="button" class="btn btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock %}