{% extends "base.html" %}
{% load static %}
{% block 'title'%} Minhas Receitas {% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
{% block 'conteudo'%}
<a href="{% url 'home_area_restrita' %}" style="text-decoration: none; background-color: red; color: white; padding: 10px; display: flex; width: 4pc; margin: 10px; border-radius: 10px;"> Voltar </a>
<div class="album py-5 ">
  <div class="container " id="minhas_receitas">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="gap: 20px;">
      
  {% for receita in minhas_receitas %}

  <div class="card shadow-sm {% if receita.ativa %}border-success{% else %}border-danger{% endif %}  mb-3" id=minha_receita-{{receita.id}}>
    <img class="card-img-top" src="{{receita.imagem.url}}"  alt="{{ receita.nome_prato}}" title="{{ receita.nome_prato}}-{{ receita.mestre}}">
    <h2 class="fw-normal text-center">{{ receita.nome_prato}}</h2>

    <div class="card-body " id="conteudo_gerenciar_receitas">
        <span class="badge text-bg-primary">Popular:  {% if receita.popular %}SIM{% else %}NÃO{% endif %} </span>
        <span class="badge text-bg-info">Publicado: {% if receita.ativa %}SIM{% else %}NÃO{% endif %}</span>
        <p class="card-text">Mestre {{receita.mestre}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">              
              {% if receita.ativa %}
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="alterarPublicacao({{ receita.id }}, false);">Despublicar Receita</button>
              {% else %}
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="alterarPublicacao({{receita.id}}, true);">Publicar Receita</button>
              {% endif %}                
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="gerenciarReceita('visualizar',{{receita.id}})">Visualizar</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="gerenciarReceita('editar',{{receita.id}})">Editar</button>
            </div>
        </div>
    </div>
  </div>
    {%endfor%}
  </div>
      
</div>
</div>



<div class="modal fade" id="receitaModal" tabindex="-1" aria-labelledby="receitaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="receitaModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <li></li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Publicar</button>
          <button type="button" class="btn btn-primary">Editar</button>
        </div>
      </div>
    </div>
</div> 

  <!-- Modal DE AVISO EXIBIÇÃO -->
<div class="modal fade" id="modalMinhasReceitas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalMinhasReceitasLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalMinhasReceitasLabel">Atenção</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Você deseja publicar/despublicar esta receita?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary pubReceita" id="pubReceita" >SIM</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal GERENCIAR RECEITA-->
<div class="modal fade" id="modalGerenciarReceita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalGerenciarReceitaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalGerenciarReceitaLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="conteudo_gerenciar_receita">
                ...
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary pubReceita" id="pubReceita" >SIM</button>
                </div> -->
        </div>
    </div>
</div>
<!-- Toast de aviso sucesso -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1100">
    <div id="toastReceitaAtualizada" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Cadastro da receita atualizado com sucesso!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Fechar"></button>
        </div>
    </div>
</div>

<script>
  const toastElement = document.getElementById('toastReceitaAtualizada');
  const urlBase = "{% url 'pesquisar_receita' 0 %}".replace('0', '');  
            
  document.addEventListener("DOMContentLoaded",  function() {
    console.log("DOMContentLoaded Carregado!");
  }); 

  async function gerenciarReceita(funcao, idReceita) {
    {% url 'salvar_edicao_receita' 0 as salvar_edicao_receita %}
    const urlSalvarEdicao = "{{ salvar_edicao_receita }}".replace('/0/', `/${idReceita}/`);
    

    try {
      
      const response = await fetch(`${urlBase}${idReceita}`);
  
      if (!response.ok) {
        throw new Error(`Erro ${response.status}: ${response.statusText}`);
      }
  
      const receita = await response.json();
  
      // Agora você pode montar o HTML com os dados
      document.getElementById('conteudo_gerenciar_receita').innerHTML = `
        <form id="formGerenciarReceita${receita.id}" method="POST" enctype="multipart/form-data" action="${urlSalvarEdicao}">
          {% csrf_token %}
          <label>Nome receita</label><br>
          <input type="text" name="nomeReceitaEditar" id="nomeReceita" class="form-control"
            value="${receita.nome}" ${funcao === "visualizar" ? "readonly" : ""}>
          <br>

          <label>Imagem</label><br>
          <img id="imagemReceita" class="card-img-top" src="${receita.imagem}" alt="${receita.nome}" title="${receita.nome}">
          <input type="file" id="imagemReceitaEditar" name="imagemReceitaEditar"
            style="${funcao==='visualizar' ? 'display:none;' : ''}">
          <br>

          <label>Receita</label><br>
          <textarea class="form-control" name="receitaEditar" id="receita"
            ${funcao === "visualizar" ? "readonly" : ""} rows="5">${receita.receita}</textarea>

          <p>POPULAR?</p>
          <select id="popular" name="popularEditar" class="form-control"
            ${funcao === "visualizar" ? "disabled" : ""}>
            <option value="sim" ${receita.popular ? "selected" : ""}>SIM</option>
            <option value="nao" ${!receita.popular ? "selected" : ""}>NÃO</option>
          </select>
          <br>

          <label>Categoria</label>
          <select id="categoria" name="categoriaEditar" class="form-control"
            ${funcao === "visualizar" ? "disabled" : ""}>
            <option value="Salgado" ${receita.categoria === "Salgado" ? "selected" : ""}>Salgado</option>
            <option value="Doce" ${receita.categoria === "Doce" ? "selected" : ""}>Doce</option>
          </select>
          <br>

          <label>Tempo de preparo (min)</label>
          <input type="text" id="tempo_preparoEditar" name="tempo_preparoEditar" class="form-control"
            value="${receita.tempo_preparo}" ${funcao === "visualizar" ? "readonly" : ""}>
          
          ${funcao === "editar" ? `
            <div class="modal-footer mt-3">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>` : ""}
        </form>
      `;
        
      new bootstrap.Modal(document.getElementById('modalGerenciarReceita')).show();
    } catch (error) {
      console.error("Erro ao carregar a receita:", error);
    }
  }
    document.addEventListener("submit", (e) => {
      console.log("Formulário enviado para:", e.target.action);
    });


    async function alterarPublicacao(id, publicar = true) {
    {% url 'salvar_publicacao_receita' 0 as salvar_publicacao_receita %}
    const urlSalvarPublicacao = "{{ salvar_publicacao_receita }}".replace('/0/', `/${id}/`);      
      try {
          
          const response = await fetch(`${urlBase}${id}`);
      
          if (!response.ok) {
            throw new Error(`Erro ${response.status}: ${response.statusText}`);
          }
      
          const receita = await response.json();
          const acao = publicar ? "postar" : "despublicar";
          document.querySelector('.modal-body').innerText = `Deseja ${acao} a receita ${receita.nome}?`;
                const modalElementMinhasReceitas = document.getElementById('modalMinhasReceitas');
                //new bootstrap.Modal(document.getElementById('modalMinhasReceitas')).show();
                const modal = new bootstrap.Modal(modalElementMinhasReceitas);
                modal.show();
            
            
                const botaoConfirmar = document.getElementById("pubReceita");
                const novoBotao = botaoConfirmar.cloneNode(true);
                botaoConfirmar.parentNode.replaceChild(novoBotao, botaoConfirmar);
            
                novoBotao.addEventListener("click", function () {
                    receita.publicado = publicar ? "sim" : "nao";
            
                    fetch(`${urlSalvarPublicacao}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}",
                        },
                        body: JSON.stringify({ publicado: receita.publicado }),
                    })            
                    //Esconde a modal
                    modal.hide();
                    
                    //Exibe a mensagem
                    const toast = new bootstrap.Toast(toastElement, { delay: 3000 }); // 3 segundos
                    toast.show();
            
                    //Aguarda 1 segundo para atualiza a página
                    setTimeout(() => {
                        location.reload();
                    }, 1000)
            
                });
        
        } catch (error) {
          console.error("Erro ao carregar a receita:", error);
        }

            
            
              
            }    
  </script>
  
  

  {% endblock %}