{% extends "base.html" %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
{% block 'title' %}Minhas Receitas{% endblock %}

{% block 'conteudo' %}
<h2 class="mestre">Bem-vindo, {{ user.username }}!</h2>

<div class="stats">
  <!-- {{minhas_receitas.count}} -->
  <p><a href="{% url 'index_receitas' %}">Total de receitas: {{ total_receitas}}</a></p>
  <p><a href="{% url 'index_receitas' 'p' %}">Publicadas: {{ publicadas.count}}</a></p>
  <p><a href="{% url 'index_receitas' 'd' %}">Despublicadas: {{ despublicadas.count }}</a></p>
</div>

<hr>

<h3 class="txt2">Minhas Receitas</h3>
<div class="cadastrar-receita">
    <a href="{% url 'cadastrar_receita' %}" class="btn btn-success">Cadastrar nova receita</a>
</div>


<ul>
  {% for r in receitas %}
    <li>
      <strong>{{ r.titulo }}</strong> 
      {% if r.publicada %}(Publicada){% else %}(Despublicada){% endif %}
      <a href="{% url 'editar_receita' r.id %}">Editar</a> |
      <a href="{% url 'remover_receita' r.id %}">Remover</a> |
      <a href="{% url 'despublicar_receita' r.id %}">Despublicar</a>
    </li>
  {% empty %}
    <p class="txt1">Você ainda não cadastrou receitas.</p>
  {% endfor %}
</ul>
{% endblock %}
